@import "normalize";



.content-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 16px;
  margin-top: 2rem;
}

p{
  margin: 0;
  padding: 0.25rem;
}

.UI-box{
  display: flex;
  flex-direction: row;
  max-width: 80%;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

.settings-box__title{
  max-width: 100%;
  width: 100%;
}

.settings-box{
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  justify-content: space-around;
}

.settings-box__button-box{
  max-width: 20%;
  width: 20%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border: 1px solid black;

}

.settings-box__button-box h3{
  text-align: center;
  margin: 0.45rem;
}

.settings-button{
  padding: 0.25rem;
  width: 90%;
  max-width: 90%;
  margin: 0.45rem;
}
.active-button{
  background-color: #0088cc;
}

.custom-options-box{
  display: flex;
  flex-direction: column;
  max-width: 20%;
  width: 20%;
  justify-content: space-around;
  border: 0.0125rem solid black;
}

.custom-options-box__option{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  text-align: center;

  justify-content: center;
  align-items: center;

  //padding: 0.25rem;

}

.custom-options-box__option input{
  width: 90%;
  max-width: 90%;
  text-align: center;
  margin: 0.45rem;
}
.custom-options-box__option label{
  width: 90%;
  max-width: 90%;
  text-align: center;
  margin: 0.37rem;
}

.information-box{
  width: 55%;
  //margin: 1rem 10rem 1rem 10rem;
  text-align: center;
  border: 1px solid red;
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

}

.information-box p{
  margin: 0.5rem;
}

.information-box h4{
  margin: 0.3rem;
}



.error-message{
  padding: 0.25rem;
  border: 0.125rem solid red;
}





.score-box{
  max-width: 75%;
  width: 75%;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
}

.score-box__item{
  display: flex;
  flex-direction: row;
  width: 30%;
}

.mines-left__value{
  width: 10%;
  text-align: center;
  background-color: lightgreen;
  outline: none;
  box-shadow: none;
}

.time-counter__value {
  width: 3rem;
  text-align: center;
  background-color: lightgreen;
  outline: none;
  box-shadow: none;
}

  .min-peri-box{
    display: flex;
    flex-direction: row;
    position: relative;

  }

.generate-button{
  width: 40%;
  padding: 0.75rem;
  //margin: 1rem 10rem 1rem 10rem;
  background-color: #0b97c4;
}

.min-peri-loader{
  padding: 0.75rem;
}

.hidden-loader{
  display: none;
}

figure{
  max-width: 0.025rem;
  margin:0;transform:translate(-50%,-50%) rotate(0deg) scale(1.7,1.7);position:absolute;left:110%;top:50%;border-radius:50px;box-sizing:border-box;animation:rotation 20s infinite linear;}

figure div:after{content:"";width:5px;height:5px;border:1px solid black;box-sizing:border-box;position:absolute;left:5px;top:5px;animation:shuffle 2s infinite;}

figure div:nth-child(1){transform:rotate(0deg)}
figure div:nth-child(1):after{animation-delay:-0.5s;}
figure div:nth-child(2){transform:rotate(45deg)}
figure div:nth-child(2):after{animation-delay:-1s;}
figure div:nth-child(3){transform:rotate(90deg)}
figure div:nth-child(3):after{animation-delay:-1.5s;}
figure div:nth-child(4){transform:rotate(135deg)}
figure div:nth-child(4):after{animation-delay:-2s;}
figure div:nth-child(5){transform:rotate(180deg)}
figure div:nth-child(5):after{animation-delay:-2.5s;}
figure div:nth-child(6){transform:rotate(225deg)}
figure div:nth-child(6):after{animation-delay:-3s;}
figure div:nth-child(7){transform:rotate(270deg)}
figure div:nth-child(7):after{animation-delay:-3.5s;}
figure div:nth-child(8){transform:rotate(315deg)}
figure div:nth-child(8):after{animation-delay:-4;}

@keyframes rotation{
  100%{transform:translate(-50%,-50%) rotate(-360deg) scale(1.4,1.4);}
}
@keyframes shuffle{
  50%{transform:scale(0.4,0.4) rotate(-90deg);border-radius:50%;}
}



.algo-button{
  margin: 1rem;
}

.game-box{
  //max-width: 70%;
  //width: 70%;
}

.game-row{
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.warning-box{
  width: 50%;
  max-width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.warning{
  color: red;
}

.mine-box{
  border: 1px solid black;
  background: lightgray;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  -webkit-transition: background-color 0.25s ease-in;
  -moz-transition: background-color 0.25s ease-in;
  -o-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}

.mine-box__hidden{
  background-color: #0b97c4;
}

.mine-box__before-display{
  visibility: hidden;
}

.light-hue{
  background-color: #20bff3;
}

.mine-box__highlighted{
  background-color: #a1e4fa;
}

.mine_1{
  background-image: url(../assets/backgrounds/mine1.svg);
  background-size:70% 70%;
  -o-background-size: 70% 70%;
  -webkit-background-size: 70% 70%;
  background-repeat:no-repeat;
  background-position: center center;
}


.mine_2{
  background-image: url(../assets/backgrounds/mine2.svg);
  background-size:70% 70%;
  -o-background-size: 70% 70%;
  -webkit-background-size: 70% 70%;
  background-repeat:no-repeat;
  background-position: center center;
}


.mine_3{
  background-image: url(../assets/backgrounds/mine3.svg);
  background-size:70% 70%;
  -o-background-size: 70% 70%;
  -webkit-background-size: 70% 70%;
  background-repeat:no-repeat;
  background-position: center center;
}


.mine_4{
  background-image: url(../assets/backgrounds/mine4.svg);
  background-size:70% 70%;
  -o-background-size: 70% 70%;
  -webkit-background-size: 70% 70%;
  background-repeat:no-repeat;
  background-position: center center;
}

.mine_5{
  background-image: url(../assets/backgrounds/mine5.svg);
  background-size:70% 70%;
  -o-background-size: 70% 70%;
  -webkit-background-size: 70% 70%;
  background-repeat:no-repeat;
  background-position: center center;
}

.mine_6{
  background-image: url(../assets/backgrounds/mine6.svg);
  background-size:70% 70%;
  -o-background-size: 70% 70%;
  -webkit-background-size: 70% 70%;
  background-repeat:no-repeat;
  background-position: center center;
}

.mine_7{
  background-image: url(../assets/backgrounds/mine7.svg);
  background-size:70% 70%;
  -o-background-size: 70% 70%;
  -webkit-background-size: 70% 70%;
  background-repeat:no-repeat;
  background-position: center center;
}
.mine_8{
  background-image: url(../assets/backgrounds/mine8.svg);
  background-size:70% 70%;
  -o-background-size: 70% 70%;
  -webkit-background-size: 70% 70%;
  background-repeat:no-repeat;
  background-position: center center;
}
.flag{
  background-image: url(../assets/backgrounds/flag.svg);
  background-size:70% 70%;
  -o-background-size: 70% 70%;
  -webkit-background-size: 70% 70%;
  background-repeat:no-repeat;
  background-position: center center;
}
.flag-broken{
  background-image: url(../assets/backgrounds/brokenflag.svg);
  background-size: 85% 85%;
  -o-background-size: 85% 85%;
  -webkit-background-size: 85% 85%;
  background-repeat:no-repeat;
  background-position: center center;
  background-color: #6C1EB5;
}

.flag-safe{
  background-color: #0088cc;
}
.mine{
  background-image: url(../assets/backgrounds/mine.svg);
  background-size: 85% 85%;
  -o-background-size: 85% 85%;
  -webkit-background-size: 85% 85%;
  background-repeat:no-repeat;
  background-position: center center;
}

.questioned{
  background-image: url(../assets/backgrounds/question.svg);
  background-size: 85% 85%;
  -o-background-size: 85% 85%;
  -webkit-background-size: 85% 85%;
  background-repeat:no-repeat;
  background-position: center center;
}

.questioned-safe{
  background-color: gold;
}

.questioned-wrong{
  background-color: #ff5011;
}

.safe{
  background-color: #33a790;
}

.blown{
  background-color: #db3f4d;
}



